^([-syllabic] ?)* ?([+syllabic] ?)+ ?([-syllabic] ?)*$
[+syllabic].*[+syllabic]

[+strident]$
[0strident]$
[-strident]$

[+voice]$
[0voice]$
[-voice]$

[+syllabic]$
[-syllabic]$

(F|TH)$
(TH)$
(F)$
^(?!.*(F|TH)$)
[+sonorant,-syllabic] (F|TH)$
[+syllabic,+stress] (F|TH)$
[+syllabic,+long] (F|TH)$
[+syllabic,+stress] ([-syllabic] )+(F|TH)$
[+syllabic,+long] ([-syllabic] )+(F|TH)$

F: Ident [voice]
F: Ident [coronal]
F: Ident [labial]

[+strident] [+strident]	-10	1
[+voice,-sonorant] [-voice,-sonorant]	-10	1
[-voice,-sonorant] [+voice,-sonorant]	-10	1
