[-syllabic]$
[-ant] [+cons,+cont,-lateral]
[-approx,+cont,-back] [-nasal,-back,-syllabic]
[-approx,+cont]$
[-approx,+cor] [+delrel,+lab]
[-approx,+voice,+ant,+back] [-high,-back]
[-back,-syllabic] [-syllabic] [-cont]
[-back,-syllabic] [+cons,+cont]
[-back,-syllabic] [+cons]
[-back,-syllabic] [+cont,-lateral]
[-back]$
[-cons,-low] [+cont,+high,-low,-back]
[-cont,-back] [+cons,+lab]
[-cont,-back] [+lab]
[-cont,-voice,+back] [+high,-back,-syllabic]
[-cont,-voice] [+cons,+lab,+back]
[-cont,+delrel,+ant] [+cons,+voice]
[-cont,+delrel] [-son,+voice,+back]
[-cont,+delrel] [+delrel]
[-cont,+delrel] [+voice,+back,-syllabic]
[-cont,+dor] [-voice,+lab,-back]
[-delrel,-back] [+cons,+cor]
[-delrel,-back] [+cons]
[-delrel,-back]$
[-high] [-back,+syllabic]
[-lateral,-back] [-lateral,-back]
[-lateral,-back] [-lateral,-nasal]
[-lateral,-back] [-lateral,+voice]
[-lateral,-back] [-lateral]
[-lateral,-back] [-nasal,-syllabic]
[-lateral,-back] [-nasal,+lab]
[-lateral,-back] [-syllabic]
[-lateral,-back] [+cons,-nasal,+cor]
[-lateral,-back] [+cons,-nasal,+voice,+cor]
[-lateral,-back] [+cons,-nasal,+voice]
[-lateral,-back] [+cons,+cor]
[-lateral,-back] [+cont,-lateral]
[-lateral,-nasal,-back] [+cont,+back,-syllabic]
[-lateral,+ant,-back] [+ant]
[-lateral,+voice,-back] [-lateral,-back]
[-lateral,+voice,-back] [-lateral,+voice]
[-lateral,+voice,-back] [+cons,+cor]
[-lateral,+voice,-back] [+cons,+voice]
[-lateral,+voice,-back] [+voice,+back] [-cons]
[-low,-back]$
[-low]$
[-nasal,+lab] [-nasal,+voice,+lab]
[-son,-cont] [-nasal,+voice,-syllabic] [-son]
[-son,+lab] [-son,+voice,+ant]
[-son,+lab]$
[-son,+voice] [+delrel,+lab,+back]
[-son,+voice]$
[-syllabic] [-approx,+voice] [+lab]
[-syllabic] [-back,-syllabic] [+voice,-syllabic]
[-syllabic] [+seg]$
[-syllabic] [+cons,+cont] [+cons,+cont,-lateral]
[-syllabic] [+cons,+son] [+voice,+back,-syllabic]
[-syllabic] [+son,-syllabic] [-nasal,-back,-syllabic]
[-voice,-ant] [-son,+voice,+ant,+back]
[-voice,+lab,+back] [+cont,+high,-syllabic]
[-voice,+lab,+back] [+high,-back,-syllabic]
[-voice,+lab] [-approx,-strid,+back]
[-voice,+lab] [-approx,+voice,+cor]
[-voice,+lab] [-nasal,+voice,+lab,+back]
[-voice,+lab] [-son,+voice,+ant]
[-voice,+lab] [-son,+voice]
[-voice,+lab] [+cont,+dor]
[-voice,+lab]$
[-voice] [+cont,+dor]
[-voice] [+voice,-syllabic] [-son]
[+cons,-ant] [-ant]
[+cons,-ant] [-approx,+voice,-strid,+back]
[+cons,-ant] [+cont,+high,-syllabic]
[+cons,-ant] [+delrel]
[+cons,-ant]$
[+cons,-nasal,+voice] [-syllabic] [-approx,+cont]
[+cons,-nasal] [+voice,-syllabic] [-son]
[+cons,+lab] [-cont,+dor,-back]
[+cons,+lab] [-son,-cont,+cor,+back]
[+cons,+lab] [+dor,-back]
[+cons,+voice,-back] [+cons,+approx]
[+cons,+voice,+lab] [-cont,+delrel]
[+cont,-lateral,-back] [+ant]
[+cont,-lateral,-back] [+cor,+back]
[+cont,-lateral,-back] [+son,+back,-syllabic]
[+cont,-low]$
[+cont,-voice] [+delrel,+voice]
[+cont,+dor] [-cont,+lab,+back]
[+cont,+high,+back] [+cont,+high,-low,-back]
[+cont,+lab,+back] [+voice,-ant]
[+cont,+lab] [-cont,-voice,+lab]
[+cont,+lab] [+lab]
[+delrel,-back]$
[+delrel,-voice] [-son,+voice,+cor]
[+delrel,+voice] [-delrel,-voice,-back]
[+delrel,+voice] [-delrel,-voice]
[+delrel,+voice] [-voice,-back]
[+delrel,+voice] [-voice,+ant]
[+delrel,+voice] [-voice,+cor]
[+delrel,+voice] [-voice,+lab]
[+delrel,+voice] [+cont,-voice]
[+dor,-back] [-syllabic]
[+dor,-back] [+low]
[+dor,+back] [-low,-back]
[+dor,+back] [+cont,+high,-back]
[+dor,+back] [+voice,-low,-back]
[+dor] [-ant]
[+dor] [-voice,+lab,-back]
[+dor] [+cont,+high,-syllabic]
[+dor] [+high,-syllabic]
[+high,-syllabic] [-son,+lab]
[+high,+back] [+cont,+high,-low,-back]
[+high,+back] [+high,-low,-back]
[+high]$
[+lab,-back] [+cons]
[+lab,-back] [+high,+back]
[+lab,-back]$
[+nasal,+back] [+cont,-ant,-retro]
[+nasal,+cor] [+lateral]
[+nasal] [+approx,-lateral]
[+son,-syllabic] [+son,-syllabic] [-syllabic]
[+son,+back,-syllabic] [-high,-back]
[+son,+lab] [-voice,+dor,-back]
[+syllabic] [+high,-back,+syllabic]
[+syllabic]$
[+voice,+dor] [-son,+voice,+cor]
[+voice,+dor] [-son]
[+voice,+dor] [+delrel,+ant,-back]
[+voice,+dor] [+delrel,+lab]
[+voice,+high,-syllabic] [+delrel,+voice,+back]
^[-cont,+cor] [-son]
^[+cons,+voice] [-voice]
^[+high,-back,+syllabic]

F: Ident [back]
F: Ident [back] [+lateral]
F: Ident [back] [-lateral]
