
[+low,+syllabic] ([-syllabic] ?)*$
[+high,+syllabic] ([-syllabic] ?)*$
[-low,+syllabic] ([-syllabic] ?)*$
[-high,+syllabic] ([-syllabic] ?)*$

[-back,+syllabic] ([-syllabic] ?)*$

[-syllabic] [-syllabic]$
[-syllabic] [-syllabic] [-syllabic]

[-back,-syllabic,-lateral] [-syllabic]

[+lateral,-back] [+syllabic,-back,-high,-low] [-syllabic]$

^([-syllabic] ?)* ?[+syllabic] ?([-syllabic] ?)*$

[-syllabic,+son] [-syllabic,+son] [+syllabic]$
[-syllabic,+son] [-syllabic,-son] [+syllabic]$
[-syllabic,-son] [-syllabic,+son] [+syllabic]$
[-syllabic,-son] [-syllabic,-son] [+syllabic]$

[-syllabic] [-syllabic,+son] [-syllabic,+son] [+syllabic]$
[-syllabic] [-syllabic,+son] [-syllabic,-son] [+syllabic]$
[-syllabic] [-syllabic,-son] [-syllabic,+son] [+syllabic]$
[-syllabic] [-syllabic,-son] [-syllabic,-son] [+syllabic]$

F: Ident [back]
F: Ident [back] [+lateral]
F: Ident [back] [-lateral]
