
[+low,+syllabic] ([-syllabic] ?)*$	0	100000
[+high,+syllabic] ([-syllabic] ?)*$	0	100000
[-low,+syllabic] ([-syllabic] ?)*$	0	100000
[-high,+syllabic] ([-syllabic] ?)*$	0	100000

[-back,+syllabic] ([-syllabic] ?)*$	0	100000

[-syllabic] [-syllabic]$	0	100000
[-syllabic] [-syllabic] [-syllabic]	0	100000

[-back,-syllabic,-lateral] [-syllabic]	0	100000

^([-syllabic] ?)* ?[+syllabic] ?([-syllabic] ?)*$	0	2

[-syllabic,+son] [-syllabic,+son] [+syllabic]	0	2
[-syllabic,+son] [-syllabic,-son] [+syllabic]	0	2
[-syllabic,-son] [-syllabic,+son] [+syllabic]	0	2
[-syllabic,-son] [-syllabic,-son] [+syllabic]	0	2

[-syllabic] [-syllabic,+son] [-syllabic,+son] [+syllabic]	0	2
[-syllabic] [-syllabic,+son] [-syllabic,-son] [+syllabic]	0	2
[-syllabic] [-syllabic,-son] [-syllabic,+son] [+syllabic]	0	2
[-syllabic] [-syllabic,-son] [-syllabic,-son] [+syllabic]	0	2

F: Ident [back]	0	100000
