t$
d$
[0aper,-nasal,+cor,+ant]$
[^td]$


[0aper,-nasal]$
[0aper,-nasal,+voice]$
[0aper,-nasal,0voice]$
[+aper]$
[+aper,+voice]$
[+aper,0voice]$
[+nasal]$
[0syllabic]$
[+syllabic]$
[+voice]$
[0voice]$

[0aper,+voice,-nasal] t$
[0aper,0voice,-nasal] d$
[+aper,+voice,-nasal] t$
[+aper,0voice,-nasal] d$
t t$
d d$

[+tense] [0aper,-nasal]$
[+tense] [0aper,-nasal,+voice]$
[+tense] [0aper,-nasal,0voice]$
[+tense] [+aper]$
[+tense] [+aper,+voice]$
[+tense] [+aper,0voice]$
[+tense] [+nasal]$
[+tense] [0syllabic]$

[+tense] [0aper,-nasal,+cor,+ant]$

[0syllabic] ?d$
[0syllabic] ?t$

[+syllabic] ?([+dors,0syllabic] ?)+$
[+syllabic] ?([+cor,0syllabic] ?)+$
[+syllabic] ?([+lab,0syllabic] ?)+$

i ?([0syllabic] ?)*$
u ?([0syllabic] ?)*$
eɪ̯ ?([0syllabic] ?)*$
oʊ̯ ?([0syllabic] ?)*$
ɪ ?([0syllabic] ?)*$
ʊ ?([0syllabic] ?)*$
ɛ ?([0syllabic] ?)*$
ɔ ?([0syllabic] ?)*$
ə ?([0syllabic] ?)*$
ʌ ?([0syllabic] ?)*$
ɚ ?([0syllabic] ?)*$
a ?([0syllabic] ?)*$
æ ?([0syllabic] ?)*$
aɪ̯ ?([0syllabic] ?)*$
aʊ̯ ?([0syllabic] ?)*$
ɔɪ̯ ?([0syllabic] ?)*$

^([0syllabic] ?){2}$

p$
b$
f$
v$
k$
ɡ$
θ$
ð$
s$
z$
ʧ$
ʤ$
ʃ$
ʒ$
m$
n$
ŋ$
l$
r$

F: Ident [voice]

F: Ident [hi]
F: Ident [back]
F: Ident [tense]
F: Ident [diph]

F: Ident [hi] [+tense]
F: Ident [back] [+tense]
F: Ident [diph] [+tense]
F: Ident [hi] [-tense]
F: Ident [back] [-tense]
F: Ident [diph] [-tense]

F: Ident [back] [0hi]
F: Ident [tense] [0hi]
F: Ident [diph] [0hi]
F: Ident [back] [+hi]
F: Ident [tense] [+hi]
F: Ident [diph] [+hi]
F: Ident [back] [2hi]
F: Ident [tense] [2hi]
F: Ident [diph] [2hi]

F: Ident [hi] [0back]
F: Ident [tense] [0back]
F: Ident [diph] [0back]
F: Ident [hi] [+back]
F: Ident [tense] [+back]
F: Ident [diph] [+back]
F: Ident [hi] [2back]
F: Ident [tense] [2back]
F: Ident [diph] [2back]

F: Ident [hi] [+diph]
F: Ident [back] [+diph]
F: Ident [tense] [+diph]
F: Ident [hi] [0diph]
F: Ident [back] [0diph]
F: Ident [tense] [0diph]

