^([-syllabic] ?)*([+syllabic] ?)+([-syllabic] ?)*$

[+syllabic] .* [+syllabic] .* [+syllabic]
[+stress] .* [+stress]
([+stress] ?)([-syllabic] ?)*$
([+stress] ?)([-syllabic] ?)*([+syllabic,-stress] ?)([-syllabic] ?)*$
([+syllabic,-stress] ?)([-syllabic] ?)*$
([+syllabic,-stress] ?)([-syllabic] ?)*([+syllabic,-stress] ?)([-syllabic] ?)*$

i ([-syllabic] ?) a ([-syllabic] ?) o n$

[-syllabic] [-syllabic]$
^[-syllabic] [-syllabic] [-syllabic]

[-back,+high,+syllabic] .* [-back,+high,+syllabic]
[+back,+high,+syllabic] .* [+back,+high,+syllabic]

[-back,-high,-low,+syllabic] .* [-back,-high,-low,+syllabic]
[+back,-high,-low,+syllabic] .* [+back,-high,-low,+syllabic]


[-back,-low,+syllabic] .* [-back,-low,+syllabic]
[+back,-low,+syllabic] .* [+back,-low,+syllabic]

t$

χ
^χ
χ$
ʦ
ʃ
ʒ
ʧ
ʤ
w

p$
b$
f$
v$
^p
^b
^f
^v




[+syllabic,+back,-high] [-syllabic]$
[+syllabic,+back,-high]
[+syllabic,+low]$
[+syllabic,-back,-high,-low]$
